@import 'slick';
@import 'slick-theme';

.scroller {
  div {
    text-align: center;
    font-size: 30px;
  }
}

.slick-prev::before, .slick-next::before {
  color: #000;
}

.slick-next {
  right: -20px;
}

.slick-prev {
  left: -20px;
  z-index:1;
}

.slider-section{
	position: relative;
    height: 500px;
    margin:100px;
    margin: 50px 100px 0 100px;
    width: auto;
}

.home-font{
    font-family: 'And Black', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    color: #767777;
    font-weight: 300;
}

.all-clubs{
	font-size: 60px;
    padding-top: 50px;
}